@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,600,600i&subset=cyrillic');
/***********************************************************************************************************************
*********** general styles
***********************************************************************************************************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 400;
}
.wrapper {
  width: 100%;
  min-width: 320px;
  overflow: hidden;
  background: #ebebeb url(../images/background.jpg) no-repeat center top;
}
.wrapper-inner {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
}
@media (max-width: 1260px) {
  .wrapper-inner {
    padding: 0 15px;
  }
}
@media (max-width: 768px) {
  .wrapper-inner {
    padding: 0 10px;
  }
}
a {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  color: inherit;
  text-decoration: none;
}
a:focus,
a:active {
  outline: none;
}
a:hover {
  text-decoration: underline;
}
button {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border: none;
  cursor: pointer;
}
button:focus,
button:active {
  outline: none;
}
input::-webkit-input-placeholder {
  color: #3e4040;
  font-size: 15px;
  opacity: 1;
}
input::-moz-placeholder {
  color: #3e4040;
  font-size: 15px;
  opacity: 1;
}
input:-moz-placeholder {
  color: #3e4040;
  font-size: 15px;
  opacity: 1;
}
input:-ms-input-placeholder {
  color: #3e4040;
  font-size: 15px;
  opacity: 1;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}
textarea::-webkit-input-placeholder {
  color: #3e4040;
  font-size: 15px;
  opacity: 1;
}
textarea::-moz-placeholder {
  color: #3e4040;
  font-size: 15px;
  opacity: 1;
}
textarea:-moz-placeholder {
  color: #3e4040;
  font-size: 15px;
  opacity: 1;
}
textarea:-ms-input-placeholder {
  color: #3e4040;
  font-size: 15px;
  opacity: 1;
}
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
textarea:focus::-moz-placeholder {
  color: transparent;
}
textarea:focus:-moz-placeholder {
  color: transparent;
}
textarea:focus:-ms-input-placeholder {
  color: transparent;
}
input:focus,
textarea:focus {
  outline: none;
}
h1 {
  line-height: 1;
}
h1 span {
  display: block;
  line-height: 1;
}
h1 span:nth-of-type(1) {
  font-size: 62px;
  font-weight: 400;
  color: #e04b37;
}
h1 span:nth-of-type(2) {
  font-size: 27px;
  font-weight: 400;
  color: #00809b;
  text-transform: uppercase;
  margin: 25px 0 15px 0;
}
h1 span:nth-of-type(3) {
  font-size: 27px;
  font-weight: 600;
  color: #00809b;
  text-transform: uppercase;
  margin: 0 0 15px 0;
}
h1 span:nth-of-type(4) {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
}
@media (max-width: 1230px) {
  h1 span:nth-of-type(1) {
    font-size: 48px;
  }
  h1 span:nth-of-type(2) {
    font-size: 22px;
  }
  h1 span:nth-of-type(3) {
    font-size: 22px;
  }
  h1 span:nth-of-type(4) {
    font-size: 16px;
  }
}
h2 {
  font-size: 35px;
  color: #e04b37;
  font-weight: 400;
  text-align: center;
  line-height: 1;
}
@media (max-width: 768px) {
  h2 {
    font-size: 28px;
  }
}
section {
  display: block;
  padding: 30px 0 0 0;
}
section .sub-title {
  font-size: 17px;
  text-transform: uppercase;
  text-align: center;
  margin: 20px 0 0 0;
  line-height: 1;
}
section .sub-title:before {
  content: '\2014';
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px 0 0;
  font-size: 17px;
  line-height: 1;
}
section .sub-title:after {
  content: '\2014';
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 10px;
  font-size: 17px;
  line-height: 1;
}
@media (max-width: 768px) {
  section .sub-title:before {
    display: none;
  }
  section .sub-title:after {
    display: none;
  }
}
fieldset {
  display: block;
  border: none;
}
.custom-select {
  display: block;
}
.custom-select .current-value {
  cursor: pointer;
}
.custom-select ul {
  display: none;
}
.custom-select.active ul {
  display: block;
}
.location-phone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media (max-width: 768px) {
  .location-phone {
    display: block;
    padding-bottom: 30px;
  }
}
.link-phone {
  display: block;
  margin-right: 120px;
}
.link-phone a span {
  font-size: 25px;
}
.link-phone a span:first-of-type {
  color: #00809b;
}
@media (max-width: 980px) {
  .link-phone {
    margin-right: 35px;
  }
  .link-phone a span {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .link-phone {
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .link-phone a {
    white-space: nowrap;
  }
}
.select-city {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.select-city .current-value {
  width: 320px;
  height: 33px;
  font-size: 12px;
  color: #000;
  font-weight: 600;
  line-height: 29px;
  position: relative;
  padding: 0 30px 0 20px;
  white-space: nowrap;
  text-transform: uppercase;
  border: 2px solid #e04b37;
}
.select-city .current-value:before {
  content: '';
  display: block;
  width: 10px;
  height: 6px;
  background: url(../images/select-marker.png) no-repeat 0 0;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 10px;
}
@media (max-width: 980px) {
  .select-city .current-value {
    font-size: 14px;
    padding-right: 17px;
    width: 250px;
  }
}
@media (max-width: 480px) {
  .select-city .current-value {
    width: 220px;
  }
}
.select-city.active .current-value {
  border-bottom: 2px solid transparent;
}
.select-city.active .current-value:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
@media (max-width: 980px) {
  .select-city.active .current-value:before {
    top: 5px;
  }
  .select-city.active .current-value:after {
    top: 8px;
  }
}
.select-city.active ul {
  display: block;
  padding: 10px 25px 20px 20px;
  width: 100%;
  position: absolute;
  top: calc(100% + 0px);
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
}
.select-city.active ul li {
  display: block;
  margin: 10px 0;
  cursor: pointer;
  text-align: left;
  font-size: 12px;
  text-transform: uppercase;
}
.select-city.active ul li span {
  color: #fff;
  white-space: nowrap;
}
.select-city.active ul li a {
  display: none;
}
.select-city.active ul li:hover span,
.select-city.active ul li.active span {
  color: #b61f20;
}
@media (max-width: 768px) {
  .select-city.active ul {
    top: calc(100% + 10px);
  }
}
/***********************************************************************************************************************
*********** header
***********************************************************************************************************************/
header[role='banner'] {
  padding: 30px 0;
}
header[role='banner'] .wrapper-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  header[role='banner'] .wrapper-inner {
    align-items: flex-start;
  }
}
header[role='banner'] .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
}
header[role='banner'] .logo img {
  display: block;
  height: 100%;
  width: auto;
  margin-right: 10px;
}
header[role='banner'] .logo span {
  font-size: 25px;
  color: #000;
}
@media (max-width: 980px) {
  header[role='banner'] .logo span {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  header[role='banner'] .logo span {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  header[role='banner'] .logo span {
    display: none;
  }
}
@media (max-width: 480px) {
  header[role='banner'] .logo {
    height: 63px;
  }
}
@media (max-width: 768px) {
  header[role='banner'] {
    padding: 15px 0;
  }
}
/***********************************************************************************************************************
*********** top-block
***********************************************************************************************************************/
.top-block {
  padding: 10px 0 20px;
}
.top-block .wrapper-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  z-index: 2;
}
.top-block .wrapper-inner:before {
  content: '';
  display: block;
  width: 906px;
  height: 702px;
  background: url(../images/car.png) no-repeat 0 0;
  position: absolute;
  right: -50px;
  top: 20px;
  z-index: -1;
}
.top-block .top-buttons {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.top-block .top-buttons ul {
  display: block;
  background: rgba(0, 0, 0, 0.87);
  padding: 0 40px;
}
.top-block .top-buttons li {
  display: block;
  color: #fff;
  margin: 20px 0;
  position: relative;
  padding: 0 0 0 20px;
}
.top-block .top-buttons li:before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background: #e04b37;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
}
.top-block .top-buttons button {
  width: 150px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}
.top-block .top-buttons button.to-questionnaire {
  background: #e04b37 url(../images/decor-to-questionnaire.png) no-repeat right center;
  margin: 0 20px;
  border: 1px solid #e04b37;
}
.top-block .top-buttons button.to-questionnaire:hover {
  background: #e04b37 url(../images/decor-to-questionnaire.png) no-repeat 150px center;
  font-size: 16px;
}
.top-block .top-buttons button.to-questionnaire:active {
  background: transparent;
  color: #e04b37;
}
.top-block .top-buttons button.callback {
  background: #00809b url(../images/decor-callback.png) no-repeat right center;
  border: 1px solid #00809b;
}
.top-block .top-buttons button.callback:hover {
  background: #00809b url(../images/decor-callback.png) no-repeat 150px center;
  font-size: 16px;
}
.top-block .top-buttons button.callback:active {
  background: transparent;
  color: #00809b;
}
@media (max-width: 980px) {
  .top-block .top-buttons {
    justify-content: center;
    margin: 20px 0 0 0;
    text-align: left;
  }
}
@media (max-width: 768px) {
  .top-block .top-buttons {
    display: block;
    text-align: center;
  }
  .top-block .top-buttons ul {
    display: block;
    width: 250px;
    padding: 20px;
    margin: 0 auto;
    text-align: left;
  }
  .top-block .top-buttons button {
    display: inline-block;
    vertical-align: top;
  }
  .top-block .top-buttons button.to-questionnaire,
  .top-block .top-buttons button.callback {
    width: 150px;
    margin: 20px 10px;
    height: 60px;
  }
}
@media (max-width: 480px) {
  .top-block .top-buttons button.to-questionnaire {
    width: 250px;
    margin: 20px 0 0 0;
    background: #e04b37;
  }
  .top-block .top-buttons button.to-questionnaire:hover {
    background: #e04b37;
  }
  .top-block .top-buttons button.to-questionnaire:active {
    background: transparent;
  }
  .top-block .top-buttons button.callback {
    width: 250px;
    margin: 20px 0 0 0;
    background: #00809b;
  }
  .top-block .top-buttons button.callback:hover {
    background: #00809b;
  }
  .top-block .top-buttons button.callback:active {
    background: transparent;
  }
}
@media (max-width: 1230px) {
  .top-block .wrapper-inner:before {
    display: none;
  }
}
@media (max-width: 980px) {
  .top-block .wrapper-inner {
    display: block;
    text-align: center;
  }
}
/***********************************************************************************************************************
*********** requirements
***********************************************************************************************************************/
.requirements {
  padding: 40px 0 30px;
  position: relative;
  z-index: 1;
}
.requirements:before {
  content: '';
  display: block;
  background: #00809b;
  position: absolute;
  left: 0;
  top: 0;
  width: 65%;
  height: 100%;
  z-index: -1;
}
.requirements:after {
  content: '';
  display: block;
  background: #e04b37;
  position: absolute;
  right: 0;
  top: 0;
  width: 35%;
  height: 100%;
  z-index: -1;
}
.requirements .title {
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
}
.requirements .requirements-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding: 0 0 0 85px;
  position: relative;
  margin: 20px 0;
  font-size: 17px;
  color: #fff;
}
.requirements .requirements-item:before {
  content: '';
  display: block;
  width: 65px;
  height: 60px;
  position: absolute;
  left: 0;
  top: 0;
}
.requirements .requirements-driver .requirements-item:before {
  background: #e04b37 url(../images/sprite-1.png) no-repeat 0 0;
}
.requirements .requirements-driver .requirements-item:nth-of-type(1):before {
  background-position: 0 0;
}
.requirements .requirements-driver .requirements-item:nth-of-type(2):before {
  background-position: -65px 0;
}
.requirements .requirements-driver .requirements-item:nth-of-type(3):before {
  background-position: -130px 0;
}
.requirements .requirements-car .requirements-item:before {
  background: #252826 url(../images/sprite-1.png) no-repeat 0 0;
}
.requirements .requirements-car .requirements-item:nth-of-type(1):before {
  background-position: -195px 0;
}
.requirements .requirements-car .requirements-item:nth-of-type(2):before {
  background-position: -260px 0;
}
.requirements .requirements-car .requirements-item:nth-of-type(3):before {
  background-position: -325px 0;
}
@media (max-width: 980px) {
  .requirements:before {
    width: 100%;
  }
  .requirements:after {
    display: none;
  }
  .requirements .requirements-driver,
  .requirements .requirements-car,
  .requirements .title {
    padding: 0 0 0 30px;
  }
  .requirements .requirements-driver br,
  .requirements .requirements-car br,
  .requirements .title br {
    display: none;
  }
}
/***********************************************************************************************************************
*********** conditions
***********************************************************************************************************************/
.conditions-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  margin: 25px 0 0 0;
}
.conditions-list .conditions-item {
  width: 189px;
  border-top: 8px solid #00809b;
  margin: 15px 0;
}
.conditions-list .image-wrap {
  width: 175px;
  height: 80px;
  margin: 7px auto;
  overflow: hidden;
  position: relative;
}
.conditions-list .image-wrap img {
  display: block;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.conditions-list .text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  background: #fff;
  border: 15px solid #fff;
  overflow: hidden;
  width: 100%;
  height: 100px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4;
}
.conditions-list .text span {
  display: block;
  width: 100%;
  font-size: inherit;
  font-weight: inherit;
  color: #e04b37;
  line-height: 1.4;
}
@media (max-width: 1230px) {
  .conditions-list {
    justify-content: center;
  }
  .conditions-list .conditions-item {
    margin: 15px;
  }
}
/***********************************************************************************************************************
*********** advantages
***********************************************************************************************************************/
.advantages-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 25px 0;
}
.advantages-list .advantages-item {
  width: 190px;
  height: 180px;
  background: #3e4040;
  padding: 25px;
  color: #fff;
  line-height: 1.4;
  position: relative;
}
.advantages-list .advantages-item:before {
  content: '';
  display: block;
  width: 80px;
  height: 80px;
  background: #00809b url(../images/sprite-2.png) no-repeat 0 0;
  position: absolute;
  bottom: -20px;
  right: 0;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.advantages-list .advantages-item:nth-of-type(2):before {
  background-position: -80px 0;
}
.advantages-list .advantages-item:nth-of-type(3):before {
  background-position: -160px 0;
}
.advantages-list .advantages-item:nth-of-type(4):before {
  background-position: -240px 0;
}
.advantages-list .advantages-item:nth-of-type(5):before {
  background-position: -320px 0;
}
.advantages-list .advantages-item:nth-of-type(6):before {
  background-position: -400px 0;
}
.advantages-list .advantages-item:hover:before {
  bottom: 0;
}
@media (max-width: 1230px) {
  .advantages-list {
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  .advantages-list .advantages-item {
    margin: 15px;
  }
}
/***********************************************************************************************************************
*********** examination
***********************************************************************************************************************/
.examination-steps {
  margin: 25px 0;
  border: 1px solid #cbcbcb;
  -webkit-box-shadow: inset 0 0 0 1px #ffffff;
  -moz-box-shadow: inset 0 0 0 1px #ffffff;
  box-shadow: inset 0 0 0 1px #ffffff;
  padding: 10px 40px 30px 40px;
  text-align: center;
}
.examination-steps .title {
  display: inline-block;
  background: #ebebeb;
  padding: 0 15px;
  z-index: 1;
  color: #00809b;
  font-size: 17px;
  font-weight: 600;
  font-style: italic;
  position: relative;
  top: -20px;
}
.examination-steps ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  text-align: left;
  counter-reset: list;
}
.examination-steps li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 450px;
  min-height: 49px;
  margin: 15px 0 15px 100px;
  padding: 0 0 0 70px;
  line-height: 1.3;
  position: relative;
}
.examination-steps li:before {
  content: counter(list) '';
  counter-increment: list;
  display: block;
  width: 49px;
  height: 49px;
  text-align: center;
  font-weight: 600;
  color: #3e4040;
  line-height: 49px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
}
.examination-steps li:after {
  content: '';
  display: block;
  width: 49px;
  height: 49px;
  background: url(../images/decor-examination.png) no-repeat 0 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.examination-steps li span {
  display: block;
  width: 49px;
  height: 49px;
  position: absolute;
  left: 3px;
  top: 3px;
}
.examination-steps li:nth-child(1) span:before {
  content: '';
  display: block;
  width: 43px;
  height: 43px;
  border: 3px solid #abafb0;
  position: absolute;
  left: -3px;
  top: -3px;
  z-index: 1;
}
.examination-steps li:nth-child(1) span:after {
  content: '';
  display: block;
  width: 22px;
  height: 22px;
  border-left: 3px solid #e04b37;
  border-top: 3px solid #e04b37;
  position: absolute;
  left: -3px;
  top: -3px;
  z-index: 2;
}
.examination-steps li:nth-child(2) span:before {
  content: '';
  display: block;
  width: 43px;
  height: 43px;
  border: 3px solid #abafb0;
  position: absolute;
  left: -3px;
  top: -3px;
  z-index: 1;
}
.examination-steps li:nth-child(2) span:after {
  content: '';
  display: block;
  width: 43px;
  height: 22px;
  border-left: 3px solid #e04b37;
  border-top: 3px solid #e04b37;
  border-right: 3px solid #e04b37;
  position: absolute;
  left: -3px;
  top: -3px;
  z-index: 2;
}
.examination-steps li:nth-child(3) span:before {
  content: '';
  display: block;
  width: 43px;
  height: 43px;
  border: 3px solid #e04b37;
  position: absolute;
  left: -3px;
  top: -3px;
  z-index: 1;
}
.examination-steps li:nth-child(3) span:after {
  content: '';
  display: block;
  width: 22px;
  height: 22px;
  border-left: 3px solid #abafb0;
  border-bottom: 3px solid #abafb0;
  position: absolute;
  left: -3px;
  bottom: 3px;
  z-index: 2;
}
.examination-steps li:nth-child(4) span:before {
  content: '';
  display: block;
  width: 43px;
  height: 43px;
  border: 3px solid #e04b37;
  position: absolute;
  left: -3px;
  top: -3px;
}
@media (max-width: 1230px) {
  .examination-steps {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .examination-steps .title {
    background: none;
  }
  .examination-steps ul {
    justify-content: center;
  }
  .examination-steps li {
    margin: 20px;
  }
}
@media (max-width: 480px) {
  .examination-steps li {
    margin: 20px 0;
  }
}
/***********************************************************************************************************************
*********** steps
***********************************************************************************************************************/
.steps .steps-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  counter-reset: list-2;
  margin: 80px 0 30px 0;
  position: relative;
}
.steps .steps-list li {
  display: block;
  font-weight: 600;
  line-height: 1.3;
  position: relative;
}
.steps .steps-list li:before {
  content: counter(list-2) '';
  counter-increment: list-2;
  display: block;
  width: 42px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  background: #00809b;
  font-size: 24px;
  color: #fff;
  position: absolute;
  left: 0;
  top: -60px;
  font-weight: 300;
}
.steps .steps-list:before {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 0;
  top: -40px;
}
.steps .documents {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}
.steps .title {
  font-size: 24px;
}
.steps .documents-list {
  width: 65%;
  background: #fff url(../images/decor-documents.png) no-repeat right center;
  padding: 30px 30px 10px;
}
.steps .documents-list .title {
  color: #e04b37;
}
.steps .documents-list ul {
  padding: 0 0 0 20px;
}
.steps .documents-list li {
  display: block;
  position: relative;
  padding: 0 0 0 45px;
  font-style: italic;
  margin: 20px 0;
}
.steps .documents-list li:before {
  content: '';
  display: block;
  width: 25px;
  height: 16px;
  background: url(../images/decor-arrow.png) no-repeat 0 0;
  position: absolute;
  left: 0;
  top: 0;
}
.steps .documents-links {
  width: 35%;
  background: #e04b37;
  padding: 30px;
}
.steps .documents-links .title {
  color: #fff;
}
.steps .documents-links ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin: 30px 0 0 0;
}
.steps .documents-links li {
  display: block;
  width: 60px;
  position: relative;
}
.steps .documents-links li:before {
  content: '';
  display: block;
  width: 10px;
  height: 60px;
  background: #e04b37;
  position: absolute;
  top: 0;
  left: 25px;
  z-index: 2;
}
.steps .documents-links li:after {
  content: '';
  display: block;
  width: 60px;
  height: 10px;
  background: #e04b37;
  position: absolute;
  top: 25px;
  left: 0;
  z-index: 2;
}
.steps .documents-links li a {
  display: block;
  padding: 70px 0 0 0;
  font-style: italic;
  z-index: 10;
  text-align: center;
}
.steps .documents-links li a:before {
  content: '';
  display: block;
  width: 54px;
  height: 54px;
  border: 3px solid #ff8e7f;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.steps .documents-links li a:after {
  content: '';
  display: block;
  width: 54px;
  height: 54px;
  background: url(../images/sprite-3.png) no-repeat 0 0;
  background-size: cover;
  border: 3px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
.steps .documents-links li:nth-child(2) a:after {
  background-position: -54px 0;
}
.steps .documents-links li:nth-child(3) a:after {
  background-position: -108px 0;
}
.steps .documents-links li:nth-child(4) a:after {
  background-position: -162px 0;
}
@media (max-width: 1230px) {
  .steps .steps-list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .steps .steps-list:before {
    display: none;
  }
  .steps .steps-list li {
    width: 250px;
    margin: 40px 20px;
  }
  .steps .steps-list li br {
    display: none;
  }
}
@media (max-width: 980px) {
  .steps .documents {
    display: block;
  }
  .steps .documents-list,
  .steps .documents-links {
    width: 100%;
  }
  .steps .documents-list ul {
    padding: 0;
  }
  .steps .documents-links ul {
    display: block;
  }
  .steps .documents-links li {
    display: inline-block;
    vertical-align: top;
    margin: 15px 30px 15px 0;
  }
}
/***********************************************************************************************************************
*********** questionnaire
***********************************************************************************************************************/
.questionnaire {
  padding: 30px 0 90px 0;
  position: relative;
}
.questionnaire .title {
  font-size: 35px;
  color: #e04b37;
  font-weight: 400;
  text-align: center;
  line-height: 1;
  margin: 0 0 25px 0;
}
.questionnaire .sub-title {
  font-size: 17px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
}
.questionnaire .sub-title:before {
  content: '\2014';
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px 0 0;
  font-size: 17px;
  line-height: 1;
}
.questionnaire .sub-title:after {
  content: '\2014';
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 10px;
  font-size: 17px;
  line-height: 1;
}
@media (max-width: 768px) {
  .questionnaire .sub-titlebefore,
  .questionnaire .sub-titleafter {
    display: none;
  }
}
.questionnaire fieldset {
  width: 100%;
  margin: 25px 0;
}
.questionnaire fieldset:after {
  content: '';
  display: block;
  clear: both;
}
.questionnaire label {
  display: block;
}
.questionnaire .field-general {
  width: 32%;
  float: left;
  margin: 10px 2% 10px 0;
  position: relative;
}
.questionnaire .field-general:nth-child(1) {
  width: 66%;
}
.questionnaire .field-general:nth-child(2),
.questionnaire .field-general:nth-child(5),
.questionnaire .field-general:nth-child(8),
.questionnaire .field-general:nth-child(11) {
  margin: 10px 0;
}
.questionnaire .field-general input {
  display: block;
  width: 100%;
  height: 43px;
  padding: 0 20px;
  background: #fff;
  border: 1px solid #d9dcde;
}
.questionnaire .field-general:before {
  content: '';
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(to bottom, #00809b, #00809b 4px, #fff 5px, #fff 8px) repeat-y 0 0;
  background-size: 4px 8px;
  position: absolute;
  margin: auto;
  left: -1px;
  top: 0;
  bottom: 0;
}
.questionnaire .field-permit {
  width: 32%;
  float: left;
  margin: 10px 2% 10px 0;
  position: relative;
}
.questionnaire .field-permit:nth-child(3n) {
  margin: 10px 0;
}
.questionnaire .field-permit:before {
  content: '';
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(to bottom, #00809b, #00809b 4px, #fff 5px, #fff 8px) repeat-y 0 0;
  background-size: 4px 8px;
  position: absolute;
  margin: auto;
  left: -1px;
  top: 0;
  bottom: 0;
}
.questionnaire .fields-addition-item {
  width: 32%;
  float: left;
  margin: 10px 2% 10px 0;
}
.questionnaire .fields-addition-item:nth-child(3n) {
  margin: 10px 0;
}
.questionnaire .fields-addition input[type="checkbox"] {
  display: none;
}
.questionnaire .fields-addition input[type="checkbox"] + label {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  color: #3e4040;
}
.questionnaire .fields-addition input[type="checkbox"] + label:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 43px;
  height: 43px;
  background: #fff;
  border: 1px solid #d9dcde;
  margin-right: 25px;
}
.questionnaire .fields-addition input[type="checkbox"]:checked + label:before {
  background: #fff url(../images/icon-ok.png) no-repeat center;
  background-size: cover;
}
.questionnaire .field-upload {
  width: 32%;
  height: 43px;
  margin: 10px 2% 10px 0;
  float: left;
  position: relative;
  background: #fff;
  border: 1px solid #d9dcde;
}
.questionnaire .field-upload .text {
  display: block;
  width: calc(100% - 85px);
  height: 100%;
  line-height: 43px;
  padding: 0 0 0 20px;
  color: #3e4040;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.questionnaire .field-upload label {
  margin: auto;
  width: 70px;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  text-align: center;
  cursor: pointer;
  background: #00809b;
}
.questionnaire .field-upload label span {
  display: block;
  height: 100%;
  line-height: 43px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.questionnaire .field-upload label input {
  display: block;
  width: 0;
  height: 0;
  opacity: 0;
}
.questionnaire .field-upload:nth-child(3n) {
  margin: 10px 0;
}
.questionnaire .field-upload:before {
  content: '';
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(to bottom, #00809b, #00809b 4px, #fff 5px, #fff 8px) repeat-y 0 0;
  background-size: 4px 8px;
  position: absolute;
  margin: auto;
  left: -1px;
  top: 0;
  bottom: 0;
}
.questionnaire input {
  display: block;
  width: 100%;
  height: 43px;
  padding: 0 20px;
  background: #fff;
  border: 1px solid #d9dcde;
}
.questionnaire button[type="submit"] {
  display: block;
  width: 380px;
  height: 140px;
  border: 1px solid #e04b37;
  background: #e04b37 url(../images/decor-to-questionnaire.png) no-repeat right center;
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  margin: auto;
  bottom: -70px;
  left: 0;
  right: 0;
}
.questionnaire button[type="submit"]:hover {
  background: #e04b37 url(../images/decor-to-questionnaire.png) no-repeat 400px center;
}
.questionnaire button[type="submit"]:active {
  background: #fff url(../images/decor-to-questionnaire.png) no-repeat 400px center;
  color: #e04b37;
}
@media (max-width: 980px) {
  .questionnaire .fields-addition {
    padding: 0 20px;
  }
  .questionnaire .fields-addition-item,
  .questionnaire .fields-addition-item:nth-child(3n) {
    width: 48.5%;
    margin: 10px 3% 10px 0;
  }
  .questionnaire .fields-addition-item:nth-child(2n),
  .questionnaire .fields-addition-item:nth-child(3n):nth-child(2n) {
    margin: 10px 0;
  }
  .questionnaire .field-upload {
    width: 100%;
    margin: 10px 0;
  }
}
@media (max-width: 768px) {
  .questionnaire .field-general,
  .questionnaire .field-general:nth-child(1),
  .questionnaire .field-permit {
    width: 100%;
    margin: 10px 0;
  }
  .questionnaire .fields-addition-item,
  .questionnaire .fields-addition-item:nth-child(2n),
  .questionnaire .fields-addition-item:nth-child(3n) {
    width: 100%;
    margin: 10px 0;
  }
}
@media (max-width: 480px) {
  .questionnaire {
    padding: 30px 0;
  }
  .questionnaire button[type="submit"] {
    width: 100%;
    position: static;
  }
}
.select-form {
  border: 1px solid #d9dcde;
  background: #fff;
  margin: 10px 0;
  position: relative;
}
.select-form .current-value {
  width: 100%;
  height: 41px;
  line-height: 41px;
  padding: 0 45px 0 20px;
  color: #3e4040;
  font-size: 15px;
  position: relative;
}
.select-form .current-value:before {
  content: '';
  display: block;
  width: 10px;
  height: 6px;
  background: url(../images/select-marker.png) no-repeat 0 0;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 15px;
}
.select-form .hidden-field {
  display: none;
}
.select-form.active .current-value:before {
  transform: rotate(180deg);
}
.select-form.active ul {
  padding: 0 45px 10px 20px;
  position: absolute;
  left: -1px;
  right: -1px;
  top: 100%;
  border: 1px solid #d6d6d6;
  border-top: none;
  background: #fff;
  z-index: 10;
}
.select-form.active ul li {
  display: block;
  margin-bottom: 10px;
  color: #3e4040;
  font-size: 15px;
  cursor: pointer;
}
.select-form.active ul li:hover,
.select-form.active ul li.active {
  color: #ff9900;
}
/***********************************************************************************************************************
*********** block-callback
***********************************************************************************************************************/
.block-callback {
  background: url(../images/background-callback.jpg) no-repeat center;
  background-size: cover;
  text-align: center;
  padding: 100px 0 30px;
}
.block-callback .title {
  color: #fff;
  font-size: 22px;
}
.block-callback .title span {
  display: block;
  color: inherit;
  font-size: 15px;
  margin: 15px 0;
}
.block-callback .callback {
  display: block;
  width: 380px;
  height: 55px;
  background: #00809b;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  margin: 15px auto;
}
.block-callback .callback span {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 25px;
  background: url(../images/icon-callback.png) no-repeat 0 0;
  margin: 0 15px 0 0;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.block-callback .callback:hover span {
  margin: 0 5px 0 0;
}
.block-callback .callback:active {
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
}
.block-callback .sub-title {
  color: #fff;
  font-size: 17px;
}
@media (max-width: 480px) {
  .block-callback {
    padding: 30px 10px;
  }
  .block-callback br {
    display: none;
  }
  .block-callback .callback {
    width: 100%;
  }
  .block-callback a {
    display: inline-block;
  }
}
/***********************************************************************************************************************
*********** promo-text
***********************************************************************************************************************/
.promo-text {
  padding: 30px;
}
.promo-text h3 {
  font-size: 20px;
  color: #e04b37;
  font-weight: 600;
}
.promo-text p {
  color: #3e4040;
  line-height: 1.6;
  margin: 20px 0;
}
/***********************************************************************************************************************
***********
***********************************************************************************************************************/
/***********************************************************************************************************************
*********** footer
***********************************************************************************************************************/
footer[role='contentinfo'] {
  background: #fff;
  padding: 30px 0;
}
footer[role='contentinfo'] .wrapper-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 480px) {
  footer[role='contentinfo'] .wrapper-inner {
    display: block;
  }
}
footer[role='contentinfo'] .logo {
  display: flex;
  align-items: center;
  height: 39px;
}
footer[role='contentinfo'] .logo span {
  color: #000;
  margin: 0 5px;
}
footer[role='contentinfo'] .select-city ul {
  top: auto;
  bottom: 100%;
  padding: 10px 25px 20px 15px;
}
footer[role='contentinfo'] .select-city.active .current-value {
  border-bottom: 2px solid #e04b37;
  border-top: 2px solid transparent;
}
@media (max-width: 980px) {
  footer[role='contentinfo'] {
    padding: 15px 0;
  }
  footer[role='contentinfo'] .logo {
    display: block;
  }
  footer[role='contentinfo'] .logo span {
    display: block;
    margin: 3px 0 0;
  }
}
@media (max-width: 480px) {
  footer[role='contentinfo'] .location-phone {
    display: inline-block;
    margin: 20px 0 0 0;
  }
  footer[role='contentinfo'] .location-phone .select-city.active ul {
    right: auto;
    left: -30px;
    bottom: calc(100% + 15px);
    padding: 10px 25px 10px 15px;
  }
  footer[role='contentinfo'] .location-phone .select-city.active ul li {
    text-align: left;
  }
  footer[role='contentinfo'] .location-phone .link-phone {
    text-align: left;
    right: auto;
    left: 0;
  }
  footer[role='contentinfo'] ul {
    left: 0!important;
  }
}
/***********************************************************************************************************************
*********** window
***********************************************************************************************************************/
.window {
  display: none;
  width: 100%;
  height: 100vh;
  overflow: auto;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1001;
}
.window .window-inner {
  display: block;
  width: 320px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 100px;
  background: #fff;
  padding: 40px 25px 25px 25px;
}
@media (max-width: 768px) {
  .window .window-inner {
    top: 50px;
  }
}
.window .close-window {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #fff;
  position: absolute;
  margin: auto;
  top: 10px;
  right: 25px;
  cursor: pointer;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.window .close-window:before {
  content: '';
  display: block;
  width: 25px;
  height: 2px;
  background: #00809b;
  position: absolute;
  left: 7px;
  top: 19px;
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.window .close-window:after {
  content: '';
  display: block;
  width: 25px;
  height: 2px;
  background: #00809b;
  position: absolute;
  left: 7px;
  top: 19px;
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.window .close-window:hover {
  background: #00809b;
}
.window .close-window:hover:before,
.window .close-window:hover:after {
  background: #fff;
}
.window label {
  display: block;
  width: 100%;
  margin: 20px 0;
}
.window input {
  display: block;
  width: 100%;
  height: 50px;
  padding: 0 20px;
  border: 1px solid #00809b;
}
.window.window-callback button {
  width: 100%;
  height: 43px;
  text-transform: uppercase;
  color: #fff;
  background: #00809b;
  font-weight: 700;
  border: 1px solid #00809b;
}
.window.window-callback button:hover {
  color: #00809b;
  background: #fff;
}
