@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,600,600i&subset=cyrillic');
/***********************************************************************************************************************
*********** general styles
***********************************************************************************************************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 400;
}
.wrapper {
  width: 100%;
  min-width: 320px;
  overflow: hidden;
  background: #ebebeb url(../images/background.png) no-repeat center top;
}
.wrapper-inner {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
}
@media (max-width: 1260px) {
  .wrapper-inner {
    padding: 0 15px;
  }
}
@media (max-width: 768px) {
  .wrapper-inner {
    padding: 0 10px;
  }
}
a {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  color: inherit;
  text-decoration: none;
}
a:focus,
a:active {
  outline: none;
}
a:hover {
  text-decoration: underline;
}
button {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border: none;
  cursor: pointer;
}
button:focus,
button:active {
  outline: none;
}
input::-webkit-input-placeholder {
  color: #8a9193;
  font-size: 14px;
}
input::-moz-placeholder {
  color: #8a9193;
  font-size: 14px;
}
input:-moz-placeholder {
  color: #8a9193;
  font-size: 14px;
}
input:-ms-input-placeholder {
  color: #8a9193;
  font-size: 14px;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}
textarea::-webkit-input-placeholder {
  color: #8a9193;
  font-size: 14px;
}
textarea::-moz-placeholder {
  color: #8a9193;
  font-size: 14px;
}
textarea:-moz-placeholder {
  color: #8a9193;
  font-size: 14px;
}
textarea:-ms-input-placeholder {
  color: #8a9193;
  font-size: 14px;
}
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
textarea:focus::-moz-placeholder {
  color: transparent;
}
textarea:focus:-moz-placeholder {
  color: transparent;
}
textarea:focus:-ms-input-placeholder {
  color: transparent;
}
input:focus,
textarea:focus {
  outline: none;
}
h1 {
  line-height: 1;
}
h1 span {
  display: block;
  line-height: 1;
}
h1 span:nth-of-type(1) {
  font-size: 62px;
  font-weight: 400;
  color: #e04b37;
}
h1 span:nth-of-type(2) {
  font-size: 27px;
  font-weight: 400;
  color: #00809b;
  text-transform: uppercase;
  margin: 25px 0 15px 0;
}
h1 span:nth-of-type(3) {
  font-size: 27px;
  font-weight: 600;
  color: #00809b;
  text-transform: uppercase;
  margin: 0 0 15px 0;
}
h1 span:nth-of-type(4) {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
}
h2 {
  font-size: 35px;
  color: #e04b37;
  font-weight: 400;
  text-align: center;
  line-height: 1;
}
section {
  display: block;
  padding: 40px 0 0 0;
}
section .sub-title {
  font-size: 17px;
  text-transform: uppercase;
  text-align: center;
  margin: 25px 0 0 0;
  line-height: 1;
}
section .sub-title:before {
  content: '\2014';
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px 0 0;
  font-size: 17px;
  line-height: 1;
}
section .sub-title:after {
  content: '\2014';
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 10px;
  font-size: 17px;
  line-height: 1;
}
.custom-select {
  display: block;
}
.custom-select .current-value {
  cursor: pointer;
}
.custom-select ul {
  display: none;
}
.custom-select.active ul {
  display: block;
}
.location-phone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media (max-width: 768px) {
  .location-phone {
    display: block;
    padding-bottom: 30px;
  }
}
.link-phone {
  display: block;
  margin-right: 120px;
}
.link-phone a span {
  font-size: 25px;
}
.link-phone a span:first-of-type {
  color: #00809b;
}
@media (max-width: 980px) {
  .link-phone {
    margin-right: 35px;
  }
  .link-phone a span {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .link-phone {
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .link-phone a {
    white-space: nowrap;
  }
}
.select-city {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.select-city .current-value {
  width: 320px;
  height: 33px;
  font-size: 12px;
  color: #000;
  font-weight: 600;
  line-height: 29px;
  position: relative;
  padding: 0 30px 0 20px;
  white-space: nowrap;
  text-transform: uppercase;
  border: 2px solid #e04b37;
}
.select-city .current-value:before {
  content: '';
  display: block;
  width: 10px;
  height: 6px;
  background: url(../images/select-marker.png) no-repeat 0 0;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 10px;
}
@media (max-width: 980px) {
  .select-city .current-value {
    font-size: 14px;
    padding-right: 17px;
    width: 250px;
  }
}
@media (max-width: 480px) {
  .select-city .current-value {
    width: 220px;
  }
}
.select-city.active .current-value {
  border-bottom: 2px solid transparent;
}
.select-city.active .current-value:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
@media (max-width: 980px) {
  .select-city.active .current-value:before {
    top: 5px;
  }
  .select-city.active .current-value:after {
    top: 8px;
  }
}
.select-city.active ul {
  display: block;
  padding: 10px 25px 20px 20px;
  width: 100%;
  position: absolute;
  top: calc(100% + 0px);
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
}
.select-city.active ul li {
  display: block;
  margin: 10px 0;
  cursor: pointer;
  text-align: left;
  font-size: 12px;
  text-transform: uppercase;
}
.select-city.active ul li span {
  color: #fff;
  white-space: nowrap;
}
.select-city.active ul li a {
  display: none;
}
.select-city.active ul li:hover span,
.select-city.active ul li.active span {
  color: #b61f20;
}
@media (max-width: 768px) {
  .select-city.active ul {
    top: calc(100% + 10px);
  }
}
/***********************************************************************************************************************
*********** header
***********************************************************************************************************************/
header[role='banner'] {
  padding: 30px 0;
}
header[role='banner'] .wrapper-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  header[role='banner'] .wrapper-inner {
    align-items: flex-start;
  }
}
header[role='banner'] .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
}
header[role='banner'] .logo img {
  display: block;
  height: 100%;
  width: auto;
  margin-right: 10px;
}
header[role='banner'] .logo span {
  font-size: 25px;
  color: #000;
}
@media (max-width: 980px) {
  header[role='banner'] .logo span {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  header[role='banner'] .logo span {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  header[role='banner'] .logo span {
    display: none;
  }
}
@media (max-width: 480px) {
  header[role='banner'] .logo {
    height: 63px;
  }
}
@media (max-width: 768px) {
  header[role='banner'] {
    padding: 15px 0;
  }
}
/***********************************************************************************************************************
*********** top-block
***********************************************************************************************************************/
.top-block {
  padding: 20px 0 30px;
}
.top-block .wrapper-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  z-index: 2;
}
.top-block .wrapper-inner:before {
  content: '';
  display: block;
  width: 906px;
  height: 702px;
  background: url(../images/car.png) no-repeat 0 0;
  position: absolute;
  right: -50px;
  top: 20px;
  z-index: -1;
}
.top-block .top-buttons {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.top-block .top-buttons ul {
  display: block;
  background: rgba(0, 0, 0, 0.87);
  padding: 0 40px;
}
.top-block .top-buttons li {
  display: block;
  color: #fff;
  margin: 20px 0;
  position: relative;
  padding: 0 0 0 20px;
}
.top-block .top-buttons li:before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background: #e04b37;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
}
.top-block .top-buttons button {
  width: 150px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}
.top-block .top-buttons button.to-questionnaire {
  background: #e04b37 url(../images/decor-to-questionnaire.png) no-repeat right center;
  margin: 0 20px;
  border: 1px solid #e04b37;
}
.top-block .top-buttons button.to-questionnaire:hover {
  background: #e04b37 url(../images/decor-to-questionnaire.png) no-repeat 150px center;
  font-size: 16px;
}
.top-block .top-buttons button.to-questionnaire:active {
  background: transparent;
  color: #e04b37;
}
.top-block .top-buttons button.callback {
  background: #00809b url(../images/decor-callback.png) no-repeat right center;
  border: 1px solid #00809b;
}
.top-block .top-buttons button.callback:hover {
  background: #00809b url(../images/decor-callback.png) no-repeat 150px center;
  font-size: 16px;
}
.top-block .top-buttons button.callback:active {
  background: transparent;
  color: #00809b;
}
/***********************************************************************************************************************
*********** requirements
***********************************************************************************************************************/
.requirements {
  padding: 40px 0;
  position: relative;
  z-index: 1;
}
.requirements:before {
  content: '';
  display: block;
  background: #00809b;
  position: absolute;
  left: 0;
  top: 0;
  width: 65%;
  height: 100%;
  z-index: -1;
}
.requirements:after {
  content: '';
  display: block;
  background: #e04b37;
  position: absolute;
  right: 0;
  top: 0;
  width: 35%;
  height: 100%;
  z-index: -1;
}
.requirements .title {
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
}
.requirements .requirements-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding: 0 0 0 85px;
  position: relative;
  margin: 20px 0;
  font-size: 17px;
  color: #fff;
}
.requirements .requirements-item:before {
  content: '';
  display: block;
  width: 65px;
  height: 60px;
  position: absolute;
  left: 0;
  top: 0;
}
.requirements .requirements-driver .requirements-item:before {
  background: #e04b37 url(../images/sprite-1.png) no-repeat 0 0;
}
.requirements .requirements-driver .requirements-item:nth-of-type(1):before {
  background-position: 0 0;
}
.requirements .requirements-driver .requirements-item:nth-of-type(2):before {
  background-position: -65px 0;
}
.requirements .requirements-driver .requirements-item:nth-of-type(3):before {
  background-position: -130px 0;
}
.requirements .requirements-car .requirements-item:before {
  background: #252826 url(../images/sprite-1.png) no-repeat 0 0;
}
.requirements .requirements-car .requirements-item:nth-of-type(1):before {
  background-position: -195px 0;
}
.requirements .requirements-car .requirements-item:nth-of-type(2):before {
  background-position: -260px 0;
}
.requirements .requirements-car .requirements-item:nth-of-type(3):before {
  background-position: -325px 0;
}
/***********************************************************************************************************************
*********** conditions
***********************************************************************************************************************/
/***********************************************************************************************************************
*********** advantages
***********************************************************************************************************************/
/***********************************************************************************************************************
*********** examination
***********************************************************************************************************************/
/***********************************************************************************************************************
*********** steps
***********************************************************************************************************************/
/***********************************************************************************************************************
*********** questionnaire
***********************************************************************************************************************/
/***********************************************************************************************************************
*********** block-callback
***********************************************************************************************************************/
/***********************************************************************************************************************
*********** promo-text
***********************************************************************************************************************/
/***********************************************************************************************************************
***********
***********************************************************************************************************************/
/***********************************************************************************************************************
*********** footer
***********************************************************************************************************************/
footer[role='contentinfo'] {
  background: #fff;
  padding: 30px 0;
}
footer[role='contentinfo'] .wrapper-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 480px) {
  footer[role='contentinfo'] .wrapper-inner {
    display: block;
  }
}
footer[role='contentinfo'] .logo {
  display: flex;
  align-items: center;
  height: 39px;
}
footer[role='contentinfo'] .logo span {
  color: #000;
  margin: 0 5px;
}
footer[role='contentinfo'] .select-city ul {
  top: auto;
  bottom: 100%;
  padding: 10px 25px 20px 15px;
}
footer[role='contentinfo'] .select-city.active .current-value {
  border-bottom: 2px solid #e04b37;
  border-top: 2px solid transparent;
}
@media (max-width: 980px) {
  footer[role='contentinfo'] {
    padding: 15px 0;
  }
  footer[role='contentinfo'] .logo {
    display: block;
  }
  footer[role='contentinfo'] .logo span {
    display: block;
    margin: 3px 0 0;
  }
}
@media (max-width: 480px) {
  footer[role='contentinfo'] .location-phone {
    display: inline-block;
    margin: 20px 0 0 0;
  }
  footer[role='contentinfo'] .location-phone .select-city.active ul {
    right: auto;
    left: -30px;
    bottom: calc(100% + 15px);
    padding: 10px 25px 10px 15px;
  }
  footer[role='contentinfo'] .location-phone .select-city.active ul li {
    text-align: left;
  }
  footer[role='contentinfo'] .location-phone .link-phone {
    text-align: left;
    right: auto;
    left: 0;
  }
}
/***********************************************************************************************************************
*********** window
***********************************************************************************************************************/
.window {
  display: none;
  width: 100%;
  height: 100vh;
  overflow: auto;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1001;
}
.window .window-inner {
  display: block;
  width: 320px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 100px;
  background: #fff;
  padding: 40px 25px 25px 25px;
  border-radius: 0 40px 40px 40px;
}
@media (max-width: 768px) {
  .window .window-inner {
    top: 50px;
  }
}
.window .close-window {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #fff;
  position: absolute;
  margin: auto;
  top: 10px;
  right: 25px;
  cursor: pointer;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.window .close-window:before {
  content: '';
  display: block;
  width: 25px;
  height: 2px;
  background: #000;
  position: absolute;
  left: 7px;
  top: 19px;
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.window .close-window:after {
  content: '';
  display: block;
  width: 25px;
  height: 2px;
  background: #000;
  position: absolute;
  left: 7px;
  top: 19px;
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.window .close-window:hover {
  background: #000;
}
.window .close-window:hover:before,
.window .close-window:hover:after {
  background: #fff;
}
.window label {
  display: block;
  width: 100%;
  margin: 20px 0;
}
.window input {
  display: block;
  width: 100%;
  height: 50px;
  padding: 0 20px;
  border: 1px solid #999999;
  border-radius: 0 25px 25px 25px;
}
.window textarea {
  display: block;
  width: 100%;
  height: 150px;
  padding: 15px 20px;
  border: 1px solid #999999;
  border-radius: 0 25px 25px 25px;
  resize: none;
}
.window.window-callback button {
  width: 100%;
  text-transform: uppercase;
  color: #ff9900;
  background: #000;
  border-radius: 0 25px 25px 25px;
  font-weight: 700;
}
.window.window-callback button:hover {
  color: #000;
  background: #ff9900;
}
.window.window-question button {
  width: 100%;
  text-transform: uppercase;
  color: #000;
  background: linear-gradient(to right, #ffcc00, #ff9900);
  border-radius: 0 25px 25px 25px;
  font-weight: 700;
}
.window.window-question button:hover {
  background: linear-gradient(to left, #ffcc00, #ff9900);
}
